RestaurantOtomasyonu_ElTerminali/RestaurantOtomasyonu_ElTerminali/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4516/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElTerminaliService" />
  <xs:element name="KullaniciGirisi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="KullaniciGirisiResult" nillable="true" type="q1:ArrayOfTbl_Kullanicilar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisBul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebSiparisMi" type="xs:boolean" />
        <xs:element minOccurs="0" name="TahsilatDurumu" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisBulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="SiparisBulResult" nillable="true" type="q2:ArrayOfElTerminali" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>