RestaurantOtomasyonu_ElTerminali/RestaurantOtomasyonu_ElTerminali/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElTerminaliService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElTerminaliService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTbl_Kullanicilar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Kullanicilar" nillable="true" type="tns:Tbl_Kullanicilar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Kullanicilar" nillable="true" type="tns:ArrayOfTbl_Kullanicilar" />
  <xs:complexType name="Tbl_Kullanicilar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YetkiID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Kullanicilar" nillable="true" type="tns:Tbl_Kullanicilar" />
  <xs:complexType name="ArrayOfElTerminali">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElTerminali" nillable="true" type="tns:ElTerminali" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElTerminali" nillable="true" type="tns:ArrayOfElTerminali" />
  <xs:complexType name="ElTerminali">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adet" type="xs:int" />
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AltMenuAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EkIstekler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fiyat" type="xs:int" />
      <xs:element minOccurs="0" name="GenelToplam" type="xs:int" />
      <xs:element minOccurs="0" name="Isim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiparisZamani" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Soyisim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElTerminali" nillable="true" type="tns:ElTerminali" />
</xs:schema>