RestaurantOtomasyonu_GarsonElTerminali/RestaurantOtomasyonu_GarsonElTerminali/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1777/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElTerminaliService" />
  <xs:element name="KullaniciGirisi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciGirisiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="KullaniciGirisiResult" nillable="true" type="q1:ArrayOfTbl_Kullanicilar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisListele">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MID" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="SiparisListeleResult" nillable="true" type="q2:ArrayOfSiparisListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisHazirMiKontrolu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SHM" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisHazirMiKontroluResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="SiparisHazirMiKontroluResult" nillable="true" type="q3:ArrayOfSiparisListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HesapIstendiMiKontrolu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HIM" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HesapIstendiMiKontroluResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElTerminaliService" minOccurs="0" name="HesapIstendiMiKontroluResult" nillable="true" type="q4:ArrayOfSiparisListesi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>