RestaurantOtomasyonu_GarsonElTerminali/RestaurantOtomasyonu_GarsonElTerminali/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1777/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1777/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1777/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElTerminaliService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_KullaniciGirisi_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisi" />
  </wsdl:message>
  <wsdl:message name="IService1_KullaniciGirisi_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciGirisiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SiparisListele_InputMessage">
    <wsdl:part name="parameters" element="tns:SiparisListele" />
  </wsdl:message>
  <wsdl:message name="IService1_SiparisListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:SiparisListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SiparisHazirMiKontrolu_InputMessage">
    <wsdl:part name="parameters" element="tns:SiparisHazirMiKontrolu" />
  </wsdl:message>
  <wsdl:message name="IService1_SiparisHazirMiKontrolu_OutputMessage">
    <wsdl:part name="parameters" element="tns:SiparisHazirMiKontroluResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HesapIstendiMiKontrolu_InputMessage">
    <wsdl:part name="parameters" element="tns:HesapIstendiMiKontrolu" />
  </wsdl:message>
  <wsdl:message name="IService1_HesapIstendiMiKontrolu_OutputMessage">
    <wsdl:part name="parameters" element="tns:HesapIstendiMiKontroluResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="KullaniciGirisi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KullaniciGirisi" message="tns:IService1_KullaniciGirisi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KullaniciGirisiResponse" message="tns:IService1_KullaniciGirisi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SiparisListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SiparisListele" message="tns:IService1_SiparisListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SiparisListeleResponse" message="tns:IService1_SiparisListele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SiparisHazirMiKontrolu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SiparisHazirMiKontrolu" message="tns:IService1_SiparisHazirMiKontrolu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SiparisHazirMiKontroluResponse" message="tns:IService1_SiparisHazirMiKontrolu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HesapIstendiMiKontrolu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HesapIstendiMiKontrolu" message="tns:IService1_HesapIstendiMiKontrolu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HesapIstendiMiKontroluResponse" message="tns:IService1_HesapIstendiMiKontrolu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciGirisi">
      <soap:operation soapAction="http://tempuri.org/IService1/KullaniciGirisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiparisListele">
      <soap:operation soapAction="http://tempuri.org/IService1/SiparisListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiparisHazirMiKontrolu">
      <soap:operation soapAction="http://tempuri.org/IService1/SiparisHazirMiKontrolu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HesapIstendiMiKontrolu">
      <soap:operation soapAction="http://tempuri.org/IService1/HesapIstendiMiKontrolu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1777/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>